// Fonts

@font-face {
    font-family: 'Katibeh';
    src: url('../assets/fonts/Katibeh-Regular.ttf') format('woff2');
}

// Colors

$primary-purple-1: #883cff;
$primary-purple-2: #701fff; // mui primary
$primary-purple-3: #580ee3; // used for header
$page-background-color: #eaeaea;
$primary-black-text-color: rgba(
    $color: #000000,
    $alpha: 0.8,
);
$primary-white-text-color: rgba(
    $color: #ffffff,
    $alpha: 0.8,
);
$background-color: #dddddd;
